<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="camundaModeler"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Modeler">
         <property
               name="windowImages"
               value="images/icons/16_24.png,images/icons/32_24.png,images/icons/48_24.png">
         </property>
         <property
               name="aboutText"
               value="(c) camunda Services GmbH and contributors, 2012, 2013.&#x0A;&#x0A;Part of camunda BPM. http://camunda.org">
         </property>
         <property
               name="aboutImage"
               value="images/about.png">
         </property>
         <property
               name="appName"
               value="Modeler">
         </property>
      </product>
   </extension>
</plugin>
